<table class="min-w-full table-auto">
  <thead>
    <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
      <th class="py-3 px-6 text-left">Title</th>
      <th class="py-3 px-6 text-left">Description</th>
      <th class="py-3 px-6 text-center">Priority</th>
      <th class="py-3 px-6 text-center">Due Date</th>
      <th class="py-3 px-6 text-center">Status</th>
      <th class="py-3 px-6 text-center">Actions</th>
    </tr>
  </thead>
  <tbody class="text-gray-600 text-sm font-light">
    <% Task.priorities.keys.each do |priority| %>
      <% task = Task.new(
        title: "#{priority.titleize} Priority Task",
        description: "This is a #{priority} priority task",
        priority: priority,
        due_date: 1.week.from_now,
        completed: false
      ) %>
      <%= render TaskComponent.new(task: task) %>
    <% end %>
  </tbody>
</table> 