<div class="bg-white shadow-sm rounded-lg border border-gray-200 overflow-hidden <%= card_classes %>">
  <% if header? %>
    <div class="px-4 py-3 border-b border-gray-200">
      <%= header %>
    </div>
  <% end %>

  <% if body? %>
    <div class="px-4 py-2 text-sm">
      <%= body %>
    </div>
  <% end %>

  <% if footer? %>
    <div class="px-4 py-3 bg-gray-50 border-t border-gray-200">
      <%= footer %>
    </div>
  <% end %>
</div> 