<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Tasks</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @tasks.each do |task| %>
      <%= render(TaskComponent.new(task: task)) %>
    <% end %>
  </div>

  <div class="mt-4">
    <%= paginate @tasks %>
  </div>
    <%= link_to 'New Task', new_api_v1_task_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>
